@model List<Plantilla>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Apellido</th>
            <th>Funcion</th>
            <th>Salario</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Plantilla p in Model)
        {
            <tr>
                <td>@p.Apellido</td>
                <td>@p.Funcion</td>
                <td>@p.Salario</td>
            </tr>
        }
    </tbody>
</table>
